.labos {
    background: var(--color-black);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: flex;
        flex-direction: column;
        gap: 0;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    h3 {
        font: 600 typo(16px) 'Work Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        padding-bottom: 16px;
    }

    p {
        font: 200 typo(24px, 32px) 'Work Sans', sans-serif;
        color: rgba(256, 256, 256, 0.55);
        margin: 0;
        padding-bottom: 24px;
        line-height: 150%;

        span {
            font-weight: 600;
            color: var(--color-white);
        }
    }

    .tag {
        font-size: typo(18px);
        color: var(--color-white);
        margin: 0;
        padding-bottom: 32px;
    }

    a {
        font: bold typo(16px) 'Work Sans', sans-serif;
        color: var(--color-black);
        background-color: var(--color-primary);
        text-transform: uppercase;
        padding: 8px 16px;
        border-radius: 100px;
    }
}

.card__media {
    aspect-ratio: 594/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }
}

.titre-cards {
    font: 200 typo(30px, 40px) 'Work Sans', sans-serif;
    color: rgba(256, 256, 256, 0.55);
    margin: 0;
    padding-bottom: 100px;

    span {
        font-weight: 600;
        color: var(--color-white);
    }
}
