.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: flex;
        flex-direction: column;
        gap: 0;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    // background: #ddd;
}

.card__media {
    aspect-ratio: 594/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
