.header {
    padding: 25px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    a {
        color: var(--color-white);
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
        font-size: typo(20px);
    }
}
